@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white bg-opacity-[87%] text-gray-900 dark:bg-[#121212] dark:text-gray-100;
    @apply min-h-screen;
  }
}

body {
  overscroll-behavior: none;
}

:root {
  --dark: #121212;
  --light: #f9f9f9;
  --border-dark: #dee4e7;
  --border-light: #37474f;
  --primary-dark: #f96666;
  --primary-light: #ff1e1e;
}
